@use "./variables" as *;
@use "./mixins" as *;

@keyframes zoomBackgroundTablet {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 150%;
  }
}

@keyframes zoomBackgroundDesktop {
  0% {
    background-size: 150%;
  }
  100% {
    background-size: 110%;
  }
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
