@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/NunitoSans-Regular.woff") format("woof"), url("../../assets/fonts/Alernative-files/NunitoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/NunitoSans-Medium.woff") format("woff"), url("../../assets/fonts/Alernative-files/NunitoSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/NunitoSans-Bold.woff") format("woff"), url("../../assets/fonts/Alernative-files/NunitoSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
body {
  font-family: Nunito, Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes zoomBackgroundTablet {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 150%;
  }
}
@keyframes zoomBackgroundDesktop {
  0% {
    background-size: 150%;
  }
  100% {
    background-size: 110%;
  }
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.header {
  background-color: black;
  height: 100vh;
  width: 100%;
  background-image: url(../assets/images/moodyWeatherHead.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  background-color: rgb(50, 50, 50);
  background-blend-mode: overlay;
  display: flex;
  align-items: end;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header {
    animation: zoomBackgroundTablet 4s ease-in-out 1 forwards;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    animation: zoomBackgroundDesktop 4s ease-in-out 1 forwards;
  }
}
.header__btn {
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.27059;
  padding: 0.25rem 0.5rem;
  text-align: center;
  vertical-align: baseline;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  height: 3rem;
}
.header__btn-:disabled {
  opacity: 0.5;
}
.header__btn-:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}
.header__btn-:active {
  background-image: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}
.header__btn-:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

.main {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30rem;
}
.weather__title {
  margin: 2rem auto;
  animation: 4s anim-lineUp ease-out forwards;
}
.weather__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.weather__city {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 10px;
  animation: 7s anim-lineUp ease-out forwards;
}
.weather__input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
}
.weather__btn {
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.27059;
  padding: 0.25rem 0.5rem;
  text-align: center;
  vertical-align: baseline;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  height: 2.5rem;
}
.weather__btn-:disabled {
  opacity: 0.5;
}
.weather__btn-:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}
.weather__btn-:active {
  background-image: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}
.weather__btn-:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}
.weather__response {
  margin-top: 2rem;
  border: solid 2px white;
  list-style: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.message__box {
  margin-top: 1rem;
}

.music {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
.music__space-invider {
  --block-size: 5px;
  box-shadow: 0 0 0 var(--block-size) white, 0 var(--block-size) 0 var(--block-size) white, calc(var(--block-size) * -2.5) calc(var(--block-size) * 1.5) 0 calc(var(--block-size) * 0.5) white, calc(var(--block-size) * 2.5) calc(var(--block-size) * 1.5) 0 calc(var(--block-size) * 0.5) white, calc(var(--block-size) * -3) calc(var(--block-size) * -3) 0 0 white, calc(var(--block-size) * 3) calc(var(--block-size) * -3) 0 0 white, calc(var(--block-size) * -2) calc(var(--block-size) * -2) 0 0 white, calc(var(--block-size) * 2) calc(var(--block-size) * -2) 0 0 white, calc(var(--block-size) * -3) calc(var(--block-size) * -1) 0 0 white, calc(var(--block-size) * -2) calc(var(--block-size) * -1) 0 0 white, calc(var(--block-size) * 2) calc(var(--block-size) * -1) 0 0 white, calc(var(--block-size) * 3) calc(var(--block-size) * -1) 0 0 white, calc(var(--block-size) * -4) 0 0 0 white, calc(var(--block-size) * -3) 0 0 0 white, calc(var(--block-size) * 3) 0 0 0 white, calc(var(--block-size) * 4) 0 0 0 white, calc(var(--block-size) * -5) var(--block-size) 0 0 white, calc(var(--block-size) * -4) var(--block-size) 0 0 white, calc(var(--block-size) * 4) var(--block-size) 0 0 white, calc(var(--block-size) * 5) var(--block-size) 0 0 white, calc(var(--block-size) * -5) calc(var(--block-size) * 2) 0 0 white, calc(var(--block-size) * 5) calc(var(--block-size) * 2) 0 0 white, calc(var(--block-size) * -5) calc(var(--block-size) * 3) 0 0 white, calc(var(--block-size) * -3) calc(var(--block-size) * 3) 0 0 white, calc(var(--block-size) * 3) calc(var(--block-size) * 3) 0 0 white, calc(var(--block-size) * 5) calc(var(--block-size) * 3) 0 0 white, calc(var(--block-size) * -2) calc(var(--block-size) * 4) 0 0 white, calc(var(--block-size) * -1) calc(var(--block-size) * 4) 0 0 white, var(--block-size) calc(var(--block-size) * 4) 0 0 white, calc(var(--block-size) * 2) calc(var(--block-size) * 4) 0 0 white;
  background: white;
  width: var(--block-size);
  height: var(--block-size);
  overflow: hidden;
  margin-left: 80px;
}

.audio-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 8px;
  margin-top: 1rem;
}
.audio-player__button {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 1rem;
}
.audio-player__button :hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}
.audio-player__seek, .audio-player__volume {
  width: 100%;
  margin: 10px 0;
}
.audio-player__time {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.audio-player__current-time, .audio-player__duration {
  font-size: 0.875rem;
  color: #ccc;
}

.footer {
  height: 4rem;
  background-color: black;
  color: #ffffff;
}
.footer__quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.footer__icon {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
}/*# sourceMappingURL=main.css.map */